@{
    ViewData["Title"] = "Home Page";
}

<html>
<head> Client For SignalR Core 2.0 
</head>

<body>
    <script src="~/js/site.js"></script>
    <script>
        let connection = new SignalR.HubConnection('/chat');
           connection.on('send', data => {
               console.log(data);

           });

           connection.start().then()=>connection.invoke('send', 'Hello');
       
    </script>

    <button id="clickme">点我</button>
</body>  
</html>